<launch>
    <!-- Serial settings-->
    <arg name="serial_port"           default="/dev/ttyUSB0"/>
    <arg name="baud_rate"             default="921600"/> <!-- 115200 default-->

    <!-- Topicnames & motor control signal publish frequency-->
    <arg name="topicname_pwm"         default="/serial/pc/to_fmu"/>
    <arg name="topicname_from_nucleo" default="/serial/pc/from_fmu"/>
    <arg name="frequency"             default="20000"/> <!-- 200 Hz default-->

    <node pkg="chk_fmu_ros" name="fmu_serial_pc_node" type="fmu_serial_pc_node" output="screen">
        <param name="serial_port"           type="string" value="$(arg serial_port)"/>
        <param name="baud_rate"             type="int"    value="$(arg baud_rate)"/>

        <param name="topicname_pwm"         type="string" value="$(arg topicname_pwm)"/>
        <param name="topicname_from_nucleo" type="string" value="$(arg topicname_from_nucleo)"/>
        <param name="frequency"             type="int"    value="$(arg frequency)"/>
    </node>

    <node pkg="chk_fmu_ros" name="fmu_sensor_publisher_node" type="fmu_sensor_publisher_node" output="screen">
    </node>
</launch>
